form{
    padding: 50px;
}


.form-control{
padding: 10px;
}

input{
margin-left: 10px;
padding: 10px;
}

button{
    margin-top: 20px;
    font-weight: 600;
    font-size: larger;
    background-color: rgb(20, 90, 90);
    border-radius: 6px;
    color: bisque;
}

.form-main{
    text-align: center;
}

.form-inner{

    width: 400px;
    height: auto;
    border: darkolivegreen 2px solid;
    margin: auto;
    margin-top: 100px;
    background-color: darkkhaki;
}

